<!-- {% extends 'bootstrap/base.html'%} -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> News App, Where the news live on </title>
    {% endif %}
</head>

<body>
   <!-- ......................navbar block..................... -->
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}

    <!-- .............................Content block....................... -->
   
    {% block content %}

    {% endblock %}

</body>

</html>