<div class="navbar  sticky-top  navbar-inverse" role="navigation">
  <div class="container-fluid justify-content-between">
    <span>
        <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">News Categories</a></li>
      </ul>
    </div>
  </span>
    <span>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </span>

  </div>
</div>